In [1]:
import pandas as pd
iphone_df = pd.read_csv('../data/iphone.csv', index_col=0)

In [2]:
# 여러줄을 한번에 값을 변경하기
iphone_df[['디스플레이', 'Face ID']] # 디스플레이와 Face ID만 출력하기

               디스플레이 Face ID
iPhone 7         4.7      No
iPhone 7 Plus    5.5      No
iPhone 8         4.7      No
iPhone 8 Plus    5.5      No
iPhone X         5.8     Yes
iPhone XS        5.8     Yes
iPhone XS Max    6.5     Yes

In [3]:
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [4]:
# iPhone 7과 X만 o로 바꾸기
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [5]:
# iPhone 7부터 X까지 o로 바꾸기
iphone_df.loc['iPhone 7' : 'iPhone X'] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [6]:
# 기본 값 가져오기
import pandas as pd
iphone_df = pd.read_csv('../data/iphone.csv', index_col=0)

In [7]:
# 조건으로 row 선택
# 디스플레이가 5보다 큰 애들
iphone_df['디스플레이']>5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [8]:
iphone_df.loc[iphone_df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
# 디스플레이가 5 이상인 값들을 전부 'P'로 바꿈
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'

/var/folders/vh/dzvlggfx64b5xndshnbz77540000gn/T/ipykernel_71916/760488095.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'p' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'

In [10]:
iphone_df.iloc[[1,3], [1,4]]

              디스플레이 Face ID
iPhone 7 Plus     p       p
iPhone 8 Plus     p       p

In [11]:
iphone_df.iloc[[1,3], [1,4]] = 'v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p