In [1]:
import pandas as pd

df = pd.read_csv('../data/world_cities.csv')
df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

여행을 좋아하는 익중이는 여행지를 알아보고 있습니다. 주어진 데이터에는 총 몇 개의 도시와 몇 개의 나라가 있는지 알아맞혀 보세요.

답안은 도시/나라 형식으로 숫자만 입력해 주세요. (예시: 156/77)

In [2]:
df[['City / Urban area', 'Country']].describe()

       City / Urban area Country
count                249     249
unique               249      61
top         Buenos Aires     USA
freq                   1     105

사람 만나기를 좋아하는 익중이는 가장 사람이 붐비는 도시로 여행을 가기로 마음 먹었습니다. 주어진 데이터에서, 인구 밀도(명/sqKm) 가 10000 이 넘는 도시는 총 몇 개인지 알아보세요.

참고로 인구 밀도는 인구 수 / 땅의 면적 (in sqKm) 로 구할 수 있습니다.

답안은 숫자로만 입력해 주세요. (예시: 24

In [3]:
pop_Land = df['Population']/df['Land area (in sqKm)'] >= 10000
pop_Land = pop_Land.astype(int)
pop_Land.value_counts()

0    230
1     19
Name: count, dtype: int64

In [4]:
# 해설
df["Density"] = df['Population']/df['Land area (in sqKm)']
df_high_density = df[df['Density']>10000]
df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 32 to 129
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   Density              19 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ KB

이번에는 인구 밀도가 가장 높은 도시를 찾아봅시다.

답안은 데이터에 적힌 이름을 그대로 입력해 주세요. (예시: Seoul)

In [5]:
df["Density"] = df['Population']/df['Land area (in sqKm)']
df.sort_values(by=['Density'], ascending=False).head(3)

,Unnamed: 0,City / Urban area,Country,Population,Land area (in sqKm),Density
75,75,Mumbai,India,14350000,484,29648.760331
74,74,Kolkata,India,12700000,531,23917.137476
101,101,Karachi,Pakistan,9800000,518,18918.918919