In [70]:
import pandas as pd

df = pd.read_csv('../data/Puzzle_before.csv')
df

   A   B   C   D   E   F
0  1  55  70  87  56  13
1  2  45  60  99  53  24
2  3  88  70  94  39  29
3  4  97  80  24  83  78
4  5  13  90  26  80  61

A열 = 1 2 3 4 5 => 2 4 6 8 10 (곱2)
B열 = 55 45 88 97 13 => 0 0 1 1 0 (80이상이면 1)
C열 = 70 60 70 80 90 => 0 0 0 1 1 (80이상이면 1)
D열 = 87 99 94 24 26 => 1 1 1 0 0 (80이상이면 1)
E열 = 56 53 39 83 80 => 0 0 0 1 1 (80이상이면 1)
F열 = 13 24 28 78 61 => 13 24 99 78 61 (2행만 99로 바꾸기)

In [71]:
df['A'] = df['A']*2
df.loc[:,'B': 'E'] = 80 <= df.loc[:,'B' : 'E']
df = df.astype(int)
df.loc[2,'F'] = 99

In [69]:
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  99
3   8  1  0  0  1  78
4  10  0  1  0  0  61