In [28]:
import pandas as pd
df = pd.read_csv('../data/body_imperial1.csv', index_col=0)

In [29]:
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000             NaN
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
21       0.000000        0.000000

In [30]:
df.loc[1, 'Weight (Pound)'] = 200
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
21       0.000000        0.000000

In [31]:
df.drop(21, axis=0, inplace=True)
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103

In [33]:
df.loc[20] = [70, 200]
df

    Height (Inch)  Weight (Pound)
ID
0       73.847017      241.893563
1       70.000000      200.000000
2       74.110105      212.740856
3       71.730978      220.042470
4       69.881796      206.349801
5       67.253016      152.212156
6       68.785081      183.927889
7       68.348516      167.971110
8       67.018950      175.929440
9       63.456494      156.399676
10      71.195382      186.604926
11      62.636675      102.853563
12      62.077832      138.691680
13      60.030434       97.687432
14      59.098250      110.529686
15      66.172652      136.777454
16      67.067155      170.867906
17      63.867992      128.475319
18      69.034243      163.852461
19      61.944246      113.649103
20      70.000000      200.000000