## 실습 설명
이전 과제에서 강의실 크기에 따라 room assignment column을 만들어 주었습니다.
이제 이 room assignment에 따라 강의실 이름을 붙여주려고 합니다.
아래 세 가지 조건을 만족하도록 코드를 작성하세요.


#### 1. 같은 크기의 강의실이 필요한 과목에 대해 알파벳 순서대로 방 번호를 배정하세요.

예를 들어 "Auditorium"이 필요한 과목으로 “arts”, “commerce”, “science” 세 과목이 있다면, “arts”는 “Auditorium-1”, “commerce”는 “Auditorium-2”, “science”는 “Auditorium-3” 순서로 방 배정이 되어야 합니다.

방 번호에 room 은 포함되지 않습니다. 아래 스크린샷을 참고하여 작성해주세요.

#### 2. status column이 “not allowed”인 수강생은 room assignment column을 그대로 “not assigned”로 남겨둡니다. "not allowed" 인 수강생의 room assignment 상태가 변경되지 않도록 유의해주세요.

#### 3. room assignment column의 이름을 room number로 바꿔주세요.

## 1.

In [1]:
import pandas as pd

df = pd.read_csv('../data/enrolment_3.csv')
df

           id  year             course name       status room assignment
0     2777729     1  information technology  not allowed    not assigned
1     2777730     2                 science      allowed      Auditorium
2     2777765     1                    arts      allowed      Auditorium
3     2777766     2                    arts      allowed      Auditorium
4     2777785     1                     mba      allowed      Small room
...       ...   ...                     ...          ...             ...
1995  2796805     3    computer application      allowed     Medium room
1996  2796812     1                 nursing      allowed     Medium room
1997  2796813     2                 nursing      allowed     Medium room
1998  2796814     3                 nursing      allowed     Medium room
1999  2796815     4                 nursing      allowed     Medium room

[2000 rows x 5 columns]

### Auditorium 강의실 번호 붙이기

In [2]:
# Auditorium 강의실 번호 붙이기
selected_courses_auditorium = df[(df['room assignment'] != 'not assigned') & (df['room assignment'] == 'Auditorium')]['course name'].sort_values().unique()
count = 1
for course in selected_courses_auditorium:
    df.loc[df["course name"] == course, "room assignment"] = f"Auditorium-{count}"
    count += 1

### Large room 강의실 번호 붙이기

In [3]:
selected_courses_large = df[(df['room assignment'] != 'not assigned') & (df['room assignment'] == 'Large room')]['course name'].sort_values().unique()
count = 1
for course in selected_courses_large:
    df.loc[df["course name"] == course, "room assignment"] = f"Large-{count}"
    count += 1

### Medium room 강의실 번호 붙이기

In [4]:
# Medium room 강의실 번호 붙이기
selected_courses_medium = df[(df['room assignment'] != 'not assigned') & (df['room assignment'] == 'Medium room')]['course name'].sort_values().unique()
count = 1
for course in selected_courses_medium:
    df.loc[df["course name"] == course, "room assignment"] = f"Medium-{count}"
    count += 1

### Small room 강의실 번호 붙이기

In [5]:
# Small room 강의실 번호 붙이기
selected_courses_small = df[(df['room assignment'] != 'not assigned') & (df['room assignment'] == 'Small room')]['course name'].sort_values().unique()
count = 1
for course in selected_courses_small:
    df.loc[df["course name"] == course, "room assignment"] = f"Small-{count}"
    count += 1

In [6]:
df

           id  year             course name       status room assignment
0     2777729     1  information technology  not allowed        Small-29
1     2777730     2                 science      allowed    Auditorium-3
2     2777765     1                    arts      allowed    Auditorium-1
3     2777766     2                    arts      allowed    Auditorium-1
4     2777785     1                     mba      allowed        Small-34
...       ...   ...                     ...          ...             ...
1995  2796805     3    computer application      allowed        Medium-7
1996  2796812     1                 nursing      allowed       Medium-22
1997  2796813     2                 nursing      allowed       Medium-22
1998  2796814     3                 nursing      allowed       Medium-22
1999  2796815     4                 nursing      allowed       Medium-22

[2000 rows x 5 columns]

In [7]:
# 2)
df.loc[df['status'] == 'not allowed', 'room assignment'] = 'not assigned'

In [8]:
# 3)
df.rename(columns={'room assignment' : 'room number'}, inplace=True)

In [9]:
df

           id  year             course name       status   room number
0     2777729     1  information technology  not allowed  not assigned
1     2777730     2                 science      allowed  Auditorium-3
2     2777765     1                    arts      allowed  Auditorium-1
3     2777766     2                    arts      allowed  Auditorium-1
4     2777785     1                     mba      allowed      Small-34
...       ...   ...                     ...          ...           ...
1995  2796805     3    computer application      allowed      Medium-7
1996  2796812     1                 nursing      allowed     Medium-22
1997  2796813     2                 nursing      allowed     Medium-22
1998  2796814     3                 nursing      allowed     Medium-22
1999  2796815     4                 nursing      allowed     Medium-22

[2000 rows x 5 columns]