### 실습 설명
2,000명의 코드잇 대학교 학생들이 수강신청을 했습니다.

수강신청에는 다음 3개의 조건이 있습니다.

“information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.
“commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.
수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.
기존 DataFrame에 “status”라는 이름의 column을 추가하고, 학생이 수강 가능한 상태이면 “allowed”, 수강 불가능한 상태이면 “not allowed”를 넣어주세요.

In [1]:
import pandas as pd

df = pd.read_csv('../data/enrolment_1.csv')
df

           id  year             course name
0     2777729     1  information technology
1     2777730     2                 science
2     2777765     1                    arts
3     2777766     2                    arts
4     2777785     1                     mba
...       ...   ...                     ...
1995  2796805     3    computer application
1996  2796812     1                 nursing
1997  2796813     2                 nursing
1998  2796814     3                 nursing
1999  2796815     4                 nursing

[2000 rows x 3 columns]

In [2]:
df['status'] = 'allowed'

# 조건 1: “information technology” 과목은 심화과목이라 1학년은 수강할 수 없습니다.

In [3]:
# 1학년 테크놀로지 수강 x
sub_information_technology = (df['course name'] == 'information technology') & (df['year'] == 1)
sub_information_technology

0        True
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

# 조건 2: “commerce” 과목은 기초과목이고 많은 학생들이 듣는 수업이라 4학년은 수강할 수 없습니다.

In [4]:
# 4학년 commerce 수강 x
sub_com = (df['course name'] == 'commerce') & (df['year'] == 4)
sub_com

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [5]:
df.loc[sub_information_technology, 'status'] = "not allowed"
df.loc[sub_com, 'status'] = 'not allowed'

# 조건 3: 수강생이 5명이 되지 않으면 강의는 폐강되어 수강할 수 없습니다.

### index(): 리스트에서 특정 요소의 인덱스를 찾는 함수입니다. 예를 들어, index() 함수를 사용하여 리스트에서 특정 값의 인덱스를 찾을 수 있습니다. 다음은 이 함수의 기본 구문입니다:

#### index(element, start, end)

- element: 찾고자 하는 요소입니다.
- start (선택적): 검색을 시작할 인덱스입니다. 기본값은 리스트의 첫 번째 요소(인덱스 0)입니다.
- end (선택적): 검색을 종료할 인덱스입니다. 기본값은 리스트의 마지막 요소입니다.


## 람다로 사용하기
df.loc[df['columns'].apply(lambda x : 조건), 'col명'] = '추가할 인덱스 값'

In [6]:
#1
course_counts = df['course name'].value_counts()
df.loc[df['course name'].apply(lambda x: course_counts[x] < 5), 'status'] = 'not allowed'

In [7]:
#2
# status가 allowed인 데이터만 모음
allowed = df['status'] == 'allowed'

In [8]:
course_counts = df.loc[allowed, "course name"].value_counts()
course_counts

course name
arts                                   158
science                                123
commerce                               101
english                                 56
education                               41
                                      ...
mca                                      5
nanotechnology                           5
building construction and mangement      5
interior design                          5
dental                                   5
Name: count, Length: 82, dtype: int64

In [9]:
drop_sub = list(course_counts[course_counts >= 5].index)
drop_sub

['arts',
 'science',
 'commerce',
 'english',
 'education',
 'management',
 'nursing',
 'chemistry',
 'computer',
 'computer science',
 'civil engineering',
 'history',
 'mechanical engineering',
 'physics',
 'civil',
 'economics',
 'mathematics',
 'coumputer science',
 'mechanical',
 'engineering',
 'botany',
 'cse',
 'mbbs',
 'zoology',
 'computer application',
 'law',
 'electrical',
 'chemical engineering',
 'general',
 'sociology',
 'sanskrit',
 'computer applications',
 'hindi',
 'information technology',
 'computer engineering',
 'electronics & communication engg',
 'ee',
 'urdu',
 'business administration',
 'bzc',
 'philosophy',
 'yoga',
 'bengali',
 'marathi',
 'political science',
 'electrical engineering',
 'maths',
 'computer science & engineering',
 'finance',
 'technical',
 'ece',
 'me',
 'electrical & electronics engineering',
 'biotechnology',
 'computer science and engineering',
 'ug',
 'physiotherapy',
 'electronics',
 'bio-chemistry',
 'general medicine',
 'electronics and communication engineering',
 'anatomy',
 'bio chemistry',
 'mpcs',
 'mecs',
 'mpc',
 'mba',
 'ca',
 'mechanical engg',
 'pali',
 'home science',
 'cbz',
 'engineering & technology',
 'geography',
 'maithili',
 'psychology',
 'music',
 'mca',
 'nanotechnology',
 'building construction and mangement',
 'interior design',
 'dental']

In [10]:
for drop in drop_sub:
    df.loc[df['course name'] == drop, 'status'] = 'not allowed'

In [11]:
df

           id  year             course name       status
0     2777729     1  information technology  not allowed
1     2777730     2                 science  not allowed
2     2777765     1                    arts  not allowed
3     2777766     2                    arts  not allowed
4     2777785     1                     mba  not allowed
...       ...   ...                     ...          ...
1995  2796805     3    computer application  not allowed
1996  2796812     1                 nursing  not allowed
1997  2796813     2                 nursing  not allowed
1998  2796814     3                 nursing  not allowed
1999  2796815     4                 nursing  not allowed

[2000 rows x 4 columns]